html{
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
body{margin: 0;}
body.scroll{overflow: hidden;}
body::-webkit-scrollbar {width:6px; background:rgba(85,143,167,0.1);}
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
body::-webkit-scrollbar-thumb {background-color:#000;}
body::-webkit-scrollbar:horizontal {height:6px;}
body::-webkit-scrollbar:vertical {width:6px;}

div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
article,aside,details,time,caption,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block;
}
a{
    cursor: pointer;
    text-decoration: none;
}

/* navbar css */
.navbar{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    max-width: 100%;
    height: 50px;
    background: #000;
}

.navbar .row {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 100%;
}

/* left navbar */
.left-navbar{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.left-navbar ul{
    padding: 0;
    list-style: none;
    margin: 0;
    display: inline-flex;
}
.left-navbar ul li{
    padding: 0 5pt;
    border-right: 1px solid #fff;
}
.left-navbar ul li:first-child{
    padding: 0 5pt 0 0;
}
.left-navbar ul li:last-child{
    border: none;
}

/* burger css */
.burger-container{
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    margin: 5px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.burger-container span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    opacity: 1;
    border-radius: 10px;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.burger-container span:nth-child(1) {
    top: 0px;
}

.burger-container span:nth-child(2),.burger-container span:nth-child(3) {
    top: 10px;
}

.burger-container span:nth-child(4) {
    top: 20px;
}

.burger-container.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.burger-container.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger-container.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger-container.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* center navbar */
.center-navbar{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* right navbar */
.right-navbar{
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container{
    display: block;
    width: fit-content;
    color: #fff;
    font-weight: 800;
    font-size: 30px;
}

.logo-container img{
    display: block;
    margin: 0 auto;
    height: 25px;
    width: auto;
}

/* menu navbar */
.menu-navbar{
    background: #fff;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 50px;
    box-sizing: border-box;
    position: fixed;
    z-index: 499;
}

.menu-navbar.close{
    animation: closeNavbar 0.5s linear;
    top: -100vh;
}

.menu-navbar.open{
    animation: openNavbar 0.5s linear;
    top: 0;
}

@keyframes openNavbar {0% { top:-100vh; }100%{top: 0;}}
@keyframes closeNavbar {0%{top: 0;}100% { top: -100vh; }}

.menu-navbar .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-navbar .menu-list{
    padding: 0;
    list-style: none;
    margin: 2rem auto;
}

.menu-navbar .menu-list li{
    margin-bottom: 2rem;
    text-align: center;
}

.menu-navbar .menu-list li:last-child{
    margin-bottom: 0;
}

.menu-navbar .menu-list li a{
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.menu-navbar .menu-list li a.proyek:hover{
    color: #00A99D;
}

.menu-navbar .menu-list li a.grafis:hover{
    color: #0071BC;
}

.menu-navbar .menu-list li a.data:hover{
    color: #F15A24;
}

.menu-navbar .menu-list li a.liveblog:hover{
    color: #6C3F93;
}

.menu-navbar .menu-list li a.newsgame:hover{
    color: #29ABE2;
}

.socmed-share{list-style: none;padding: 0;}
.socmed-share li {vertical-align: middle;display: inline-block;margin: 0 8px;}
.socmed-share li .bullet {display: block;color: #fff;background-color: #000;width: 40px;height: 40px;font-size: 1.6em;line-height: 40px;border-radius: 100%;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;padding: 20% 0;box-sizing: border-box;}
.socmed-share li .bullet svg{width: 60%;display: block;margin: 0 auto;fill: #fff;}
.socmed-share li.facebook .bullet:hover {background-color: #5d82d1;color: #fff;}
.socmed-share li.twitter .bullet:hover {background-color: #40bff5;color: #fff;}
.socmed-share li.whatsapp .bullet:hover {background-color: #5CB100;color: #fff;}

.credit{
    background: #fff;
    padding: 1rem 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credit h2{
    text-align: center;
    text-transform: uppercase;
}

.credit .wordwide{
    font-weight: 700;
    margin-top: 1em;
    text-align: center;
}

.credit ul{
    list-style: none;
    text-align: center;
    font-size: 12px;
    padding: 0;
}

.credit .center-logo{
    display: block;
}

.credit .center-logo img{
    margin-top: 1em;
    height: 25px;
    width: auto;
}

.credit .line{
    display: block;
    width: 100px;
    margin-top: 2rem;
    border-bottom: 1px solid #000;
}

.footer{
    background: #fff;
    padding: 2em 1em;
}

.footer h2{
    border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px;
    text-align: center;
}

.footer h2 span{background: #fff;padding: 0 10px;}

.footer-container{
    margin-top: 1em;    
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.related-article {
    padding: 5px;
    box-sizing: border-box;
}

.related-article a{
    display: block;
    color: #000;
    transition: transform 0.2s;
}

.related-article a:hover{
    font-weight: 800;
    transform: scale(1.05);
}

.related-image{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.related-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.related-article span{
    margin: 5px auto;
    display: block;
    text-align: center;font-weight: 600;font-size: 18px
}

.flourish-credit{display: none !important;}

h4.title-point{
    font-family: 'Source Sans Pro';
    font-size: 16pt;
    line-height: 1.2;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding-top: 0rem;
}
p.desc-point{
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0px;
    color: rgb(51, 51, 51);
    padding-top: 0.5rem;
}

.line {
    display: block;
    width: 100px;
    margin-top: 2rem;
    border-bottom: 1px solid #fff;
}
.intro{
    position: relative;
}
.intro .photo-container{
    position: relative;
}

.intro .photo-container img{
    width: 100%;
    height: auto;
    display: block;
}

.intro .title-container{
    height: 100vh;
    /* position: absolute; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #fff;
}
.intro .title-container .title{
    max-width: 900px;
    text-align: center;
    padding: 50px 5%;
}

.intro .title-container .title h3 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    margin-top: 10px;
}

.intro .title-container .title h1 {
    margin-top: 1rem;
    font-size: 49.4px;
}

.intro .title-container .title h5 {
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.44em;
    letter-spacing: normal;
}

.intro .text-header {
    height: 100vh;
    /* position: absolute; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.intro .text-header p.text-shadow {
    color: #fff;
    text-shadow: none;
    line-height: 1.6em;
    max-width: 600px;
    text-align: center;
}

.intro .text-header p.text-shadow span {
    margin: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 7px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.photo-background{height: 100vh;width: 100%;position: fixed;top: 0;bottom: 0;left: 0;right: 0;opacity: 0;transition: opacity 0.5s;transform: translate3d(0, 0, 0);}
.photo-background.active{opacity: 1;}
@media screen and (max-width:1050px){
    .intro .photo-container{
        height: 100vh;
        overflow-x: hidden;
    }
    
    .intro .photo-container img{
        width: auto;
        height: 100%;
        background-size: cover;
        position: relative;
        min-width: 100vw;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
@media screen and (max-width:800px){
    .box-inner{
        padding: 30px 40pt;
    }
    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:500px){
    .intro .title-container{
        height: 100vh;
    }
    .intro .photo-container, .intro .text-header{
        height: 50vh;
    }
    .intro .title-container .title h1 {
        font-size: 35px;
    }
    .navbar .row{padding: 0 5px;}
    .share-side .socmed-share{background-color: #000;padding: 8px 0;}
    .share-side .socmed-share li .bullet{background-color: #000;}
    .share-side {
        position: unset;
        width: 100%;
        height: auto;
        max-width: unset;
    }
    .share-side .socmed-share li {
        display: inline-block;
    }
    .footer-container{
        grid-template-columns: repeat(1,1fr);
    }
    
    .dropdown{left: 2.5rem;}
    .legends{padding: 0;}
    .logo-container{font-size: 25px;}
    .logo-container img {
        height: auto;
        width: 90px;
    }
}

/* mapbox */
#map {
    top:0; 
    height: 100vh;
    width:100vw;
    position: fixed;
    z-index: -5;
}
#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 100;
}
.centered {
    width: 50vw;
    margin: 0 auto;
}
.lefty {
    width: 33vw;
    margin-left: 5vw;
}
.righty {
    width: 33vw;
    margin-left: 62vw;
}
.light {
    color: #444;
    background-color: #fafafa;
}
.dark {
    color: #fafafa;
    background-color: #444;
}
.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}
.step.active {
    opacity: 0.9;
}

.step div {
    padding:  25px 50px;
    line-height: 25px;
    font-size: 13px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {
    #features {
        width: 90vw;
        margin: 0 auto;
    }
}